{
  "presets": [
    "react-app",
    "flow"
  ],
  "plugins": [
    ["react-css-modules", {
      "exclude": "node_modules|lib",
      "filetypes": {
        ".less": {
          "syntax": "postcss-less"
        }
      }
    }],
    "transform-decorators-legacy",
    "react-flow-props-to-prop-types"
  ]
}
