.gravatar{
  border-radius: 10px;
  display: block;
  margin: 80px auto 0 auto;
  filter: blur(5px);
  transition: all .3s ;
  &:hover{
    filter: none;
    transition: all .3s;
  }
}

#comment{
  font-size: 1.3em;
  margin-top: 2px;
  text-align: center;
  color: #999;
}

.center{
  text-align: center;
}

#social{
  text-align: center;
  margin-top: 50px;
}

img{
	&:hover{
	  margin-bottom: 10px;
	  transition: all .3s ;
	}
	&[alt="demoflash2"], &[alt="demosub2"]{
		display:none;
		@media (max-width: 900px) {
			display: block;
		}
	}
}

.basicBtn(){
	display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.smGlobalBtn{ /* global button class */
	.basicBtn();
  font-size: 25px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 25px;
}

.smSquareBtn{ /* global button class */
	.basicBtn();
  font-size: 40px;
  line-height: 1.2em;
  font-weight: normal;
  border-radius: 10px;
}

.smrSquareBtn{ /* global button class */
	.basicBtn();
  font-size: 36px;
  line-height: 1.32em;
  font-weight: normal;
  border-radius: 10px;
}

.facebookBtn{   .buttonMixin("\f09a";#4060A5) }
.googleplusBtn{ .buttonMixin("\f0d5";#e64522) }
.linkedinBtn{   .buttonMixin("\f0e1";#0094BC) }
.pinterestBtn{  .buttonMixin("\f0d2";#cb2027) }
.githubBtn{     .buttonMixin("\f113";#777777) }
.rssBtn{        .buttonMixin("\f09e";#e88845) }
.telegramBtn{   .buttonMixin("\f2c6";#0088cc) }
.steamBtn{      .buttonMixin("\f1b6";#1C5E81) }
.raindropBtn{   .buttonMixin("\f0c2";#329EF3) }
.pocketBtn{     .buttonMixin("\f265";#d5374b) }
.githubaltBtn{  .buttonMixin("\f092";#777777) }
.textfileBtn{   .buttonMixin("\f0f6";#777777) }

.forcegray{
	color:#aaa!important;
  transition: all .3s ease-in-out;
}

.buttonMixin(@content; @color){
  color:@color!important;
  &:before{
    font-family: "FontAwesome";
    content: @content; 
  }
  &:hover{
    color:#ddd!important;
    background: @color;
    transition: all .3s ease-in-out;
    margin-bottom: 5px;
  }
}
