html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, 微軟正黑體, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

li{
	list-style-type: disc;
}

@media (max-width: 900px) {
	img{
		width: 100%
	}
}